@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.header {
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.59);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}


.navbar i {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}

.header img {
  height: 80px;
  cursor: pointer;
}

.navbar-list {
  text-decoration: none;
  color: black;
  font-weight: 550;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover {
  color: #ffbe0b;
}

/* MAIN */

main {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

#hero {
  padding: 70px 0;
  max-width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.hero-info h1 {
  font-size: 40px;
  width: 80%;
  min-width: 600px;
  font-weight: 800;
  color: black;
  font-family: "Poppins", sans-serif;
}

.hero-info p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  max-width: 500px;
}

.hero-info-link a {
  color: black;
  background: #ff8008;
  /* fallback for old browsers */
  background: #f09819;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #edde5d, #f09819);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #edde5d, #f09819);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 5px 6px 24px -2px rgba(66, 68, 90, 1);
  -moz-box-shadow: 5px 6px 24px -2px rgba(66, 68, 90, 1);
  box-shadow: 5px 6px 24px -2px rgba(66, 68, 90, 1);

  width: 80px;
  padding: 7px 15px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

.img-hero {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

  width: 650px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.imagen {
  border-radius: 15px;
}

.img-hero-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-hero-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-hero-top h3 {
  font-weight: 600;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Poppins", sans-serif;
}

.img-hero-top span {
  text-align: center;
  width: 50px;
  padding: 3px 0;
  font-size: 20px;
  border-radius: 10px;
}

.img-hero-top span:hover {
  color: #ffbe0b;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* SECCION INFO */

#info {
  padding: 30px 0px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

#info h2 {
  font-size: 40px;
}

.p-info-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-info-conteiner p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.list-info ul li {
  font-size: 20px;
  list-style: none;
}

/* TARJETAS */

.contenedor{
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

}

.card{
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor .card{
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;

  box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.59);
}

.contenedor .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.contenedor .card img{
  width: 330px;
  height: 220px;
}


.contenedor .card h4 {
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.contenedor .card p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;

}

.contenedor .card a{
  font-weight: 500;
  text-decoration: none;
  color: #3437db;
  font-family: 'Source Sans Pro', sans-serif;
}


/* FOOTER */

.footer {
  background-color: black;
  color: white;
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
  font-family: 'Source Sans Pro', sans-serif;
}


.titulo-seccion a{
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.redes-sociales{
  display: flex;
  justify-content: center;
}

.redes-sociales i{
  font-size: 25px;
  padding: 0 20px;
  margin: 20px;
}

.redes-sociales i {
  transition: all 0.3s ease 0s;
}

.redes-sociales i:hover {
  color: #ffbe0b;
  cursor: pointer;
}

/* MEDIA QUERIES */


@media all and (max-width: 992px) {
  .hero-info,
  #info, #hero {
    text-align: center;
    width: 100%;
    align-items: center;
  }

  .hero-info h1,
  .info h2, #hero {
    display: block;
    width: 100%;
  }

  .hero-info p,
  .p-info-conteiner,
  .info p {
    max-width: 80%;
    font-size: 16px;
  }

  .hero-info-link {
    justify-content: center;
  }

  .img-hero {
    display: none;
  }

  .contenedor {
    height: auto;
    max-width: 100%;
  
  }

}

@media all and (max-width: 576px) {
  
  .navbar ul {
    background-color: white;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
  }

  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    transform: translateX(0%);
    transition: all 0.5s ease-in;
  }

  .hero-info  {
    max-width: 100%;
  }

  .contenedor {
    height: auto;
    max-width: 100%;
  }

  .hero-info h1,
  .info h2, #hero {
    display:inline;
    width: 100%;
  }

}

@media all and (max-width: 1200px) {  
  .contenedor {
  height: auto;
  max-width: 100%;
  
}

}

